<h1> New Page </h1>
 <!-- 	<form action="/yoyos" method="POST">
        <label for="yoyo_name">Name</label>
        <input type="text" name="yoyo[name]" id="yoyo_name"><br/>
        <label for="yoyo_url">Image Url</label>
        <input type="text" name="yoyo[url]" id="yoyo_url"><br/>
        <input type="submit" value="New Yoyo">
  	</form> -->
  	<%= form_for @yoyo do |f| %>
    	<%= f.label "Name" %>
    	<%= f.text_field :name %><br />
    	<%= f.label "Image Url" %>
    	<%= f.text_field :url %><br />
    	<%= f.submit "New Yoyo" %>
	<% end %>